<main class="flex flex-row min-h-screen justify-center items-center">
  <div>
    <h1 class="block text-2xl text-bold text-center mb-2">
      Learning App Rails
    </h1>
    <p class="block">
      An basic application to learn Ruby on Rails
    </p>
  </div>
</main>
